<h1>Deep Thoughts</h1>

<%= simple_form_for @thought do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.input :photo %>
  <%= f.input :tag_list, label: "Tags", hint: "Enter separated by comma" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>



<%= render partial: 'thoughts' %>
